x-logging: &logging
  driver: json-file
  options:
    max-size: "10m"
    max-file: "3"

services:
  caddy:
    profiles: [prod]
    image: caddy:2-alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    env_file:
      - envs/.env.caddy
    depends_on:
      - backend
      - frontend
    restart: unless-stopped
    logging: *logging

  backend:
    logging: *logging
    build: ./backend
    volumes:
      - ./backend:/app/backend:ro
    env_file:
      - envs/.env.backend
    depends_on:
      - redis
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/schema/openapi.json"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    depends_on:
      - backend
    restart: unless-stopped
    logging: *logging

  redis:
    image: redis:7-alpine
    volumes:
      - redis_data:/data
    restart: unless-stopped
    logging: *logging

  worker:
    build:
      context: ./backend
      dockerfile: worker/Dockerfile
    env_file:
      - envs/.env.worker
    depends_on:
      - redis
    restart: unless-stopped
    volumes:
      - ./backend:/app/backend:ro
    logging: *logging

volumes:
  redis_data:
  caddy_data:
  caddy_config:
